h1{
    color:beige;
    
}
body{
    background-color: #F2E7D5;
}
.img-name{
    text-align: center;

}
hr{
    border:solid;
    border-width: 3px 0px 0px 0px; 
    /* border-color: black; */
}
img{
    height: 200px;
    width: 200px;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
}
th,td{
    border: 1px solid white;
    padding:10px;
}
thead{
    background-color: #94b49f;
}